<!DOCTYPE html>
<html>
	<head>
		<title>SAuth | Connexion</title>
		<link rel="stylesheet" type="text/css" href="http://sauth:<%= settings.port; %>/style.css" />
<% if (settings.form_errors.size == 0) %>
		<script type="text/javascript" language="javascript">
			window.onload=function(){document.getElementById("login").focus();};
		</script>
<% end %>
	</head>
	<body>
		<center>
			<div id="bann">
				<div id="bann_content">
					<span id="logo">vincentbook</span>
				</div>
			</div>
			<h1>Connexion</h1>
			Service d'authentification
			<div class="wrapper">
				<form action="<%= (is_empty(settings.origin))?"/sessions":"/apps/sessions"; %>" method="post">
<% if (!is_empty(settings.origin)) then %>
					<span class="grey">Vous voulez acc&eacute;der &agrave; l'addresse <%= settings.origin; %></span><br />
					<br />
					<input type="hidden" name="origin" value="<%= settings.origin; %>" />
					<input type="hidden" name="aid" value="<%= settings.aid; %>" />
<% end %>
					<table border="0">
						<tr>
							<td><label for="login">Pseudonyme : </label></td>
							<td>
								<input<% if (!is_empty(settings.form_errors[:login])) then %> class="error"<% end %> type="text" id="login" name="login" size="30" value="<%= settings.form_values[:login]; %>" />
								<% if (!is_empty(settings.form_errors[:login])) then %><span class="msg_error"><%= settings.form_errors[:login]; %></span><% end %>
							</td>
						</tr>
						<tr>
							<td><label for="password">Mot de passe : </label></td>
							<td>
								<input<% if (!is_empty(settings.form_errors[:password])) then %> class="error"<% end %> type="password" id="password" name="password" size="30" />
								<% if (!is_empty(settings.form_errors[:password])) then %><span class="msg_error"><%= settings.form_errors[:password]; %></span><% end %>
							</td>
						</tr>
						<tr><td></td><td><input type="submit" name="commit" value="Valider" /></td></tr>
					</table>
				</form>
				<br />
				Ou bien <a href="/users/new">s'inscrire</a>
			</div>
		</center>
	</body>
</html>
