<!DOCTYPE html>
<html>
	<head>
		<title>SAuth | Zone prot&eacute;g&eacute;e</title>
		<%= settings.stylesheet; %>
	</head>
	<body>
		<center>
			<div id="bann">
				<div id="bann_content">
					<span id="logo">vincentbook</span>
					<span class="logout">Bienvenue <%= session[:s_user]; %> <span style="margin: 3px;">|</span> <a href="/sessions/<%= session[:s_id]; %>" onclick="document.forms['session_del'].submit(); return false;">Deconnexion</a></span>
					<form style="display: none;" id="session_del" action="/sessions/<%= session[:s_id]; %>" method="post"><input name="_method" type="hidden" value="delete" /><input type="submit" /></form>
				</div>
			</div>
			<h1>Zone prot&eacute;g&eacute;e</h1>
			Service d'authentification
			<div class="wrapper">
<% if (settings.s_apps.size > 0) then %>
				<strong>Liste des applications utilisant votre compte :</strong><br />
<% settings.s_apps.each { |a| %>
				<div class="item">
					<a class="app_used" href="<%= a[1][1]; %>" target="_blank"><%= a[1][0]; %> <span class="grey">(<%= a[1][1]; %>)</span></a>
				</div>
<% }; else %>
				<strong>Vous n'utilisez actuellement aucune application.</strong><br />
<% end %>
			</div>
			<div class="wrapper">
				Webmaster ? Vous pouvez <a href="/apps/new">ajouter votre application</a> &agrave; ce service.<br />
<% if (settings.s_apps_admin.size > 0) then %>
				<br />
				<strong>Liste de vos applications :</strong><br />
<% settings.s_apps_admin.each { |a| %>
				<div class="item">
					<a class="app_admin" href="<%= a[1][1]; %>" target="_blank"><%= a[1][0]; %> <span class="grey">(<%= a[1][1]; %>)</span> - appID: <%= a[0]; %></a>
					<a class="item_del" href="/apps/<%= a[0]; %>" title="Supprimer l'application" onclick="if (confirm('Voulez-vous vraiment supprimer l\'application ?')) document.forms['app_del_<%= a[0]; %>'].submit(); return false;">x</a>
					<form style="display: none;" id="app_del_<%= a[0]; %>" action="/apps/<%= a[0]; %>" method="post"><input name="_method" type="hidden" value="delete" /><input type="submit" /></form>
				</div>
<% } %>
				<div class="help_line"><div class="help_label">Aide</div></div>
				Une fois votre application ajout&eacute;e, le lien &agrave; placer pour se connecter est de la forme :
				<div class="code">http://sauth:<%= settings.port; %>/<strong>appID</strong>/sessions/new?ref=<strong>/chemin</strong></div>
				<table class="grey" border="0">
					<tr><td><strong>appID</strong> </td><td>: identifiant unique g&eacute;n&eacute;r&eacute; pour votre application</td></tr>
					<tr><td><strong>/chemin</strong> </td><td>: chemin relatif de redirection une fois l'utilisateur connect&eacute;</td></tr>
				</table>
<% end %>
			</div>
		</center>
	</body>
</html>
