<!DOCTYPE html>
<html>
	<head>
		<title>Inscription</title>
		<%= settings.stylesheet %>
	</head>
	<body>
		<h1>Inscription</h1>
		Service d'authentification
		<div id="zone">
			<form action="/register" method="post">
				<table border="0">
					<tr>
						<td><label for="login">Pseudonyme : </label></td>
						<td>
							<input<% if (form_errors["login"]) then %> class="error"<% end %> type="text" id="login" name="login" size="30" value="<%= form_values["login"]; %>" />
							<% if (form_errors["login"]) then %><span class="msg_error"><%= form_errors["login"]; %></span><% end %>
						</td>
					</tr>
					<tr>
						<td><label for="password">Mot de passe : </label></td>
						<td>
							<input<% if (form_errors["password"]) then %> class="error"<% end %> type="password" id="password" name="password" size="30" />
							<% if (form_errors["password"]) then %><span class="msg_error"><%= form_errors["password"]; %></span><% end %>
						</td>
					</tr>
					<tr>
						<td><label for="password">Confirmation<br />mot de passe : </label></td>
						<td>
							<input<% if (form_errors["password_confirmation"]) then %> class="error"<% end %> type="password" id="password_confirmation" name="password_confirmation" size="30" />
							<% if (form_errors["password_confirmation"]) then %><span class="msg_error"><%= form_errors["password_confirmation"]; %></span><% end %>
						</td>
					</tr>
					<tr><td></td><td><input type="submit" name="commit" value="Valider" /></td></tr>
				</table>
			</form>
			Ou bien <a href="/session/new">se connecter</a>
		</div>
	</body>
</html>

