<!DOCTYPE html>
<html>
	<head>
		<title>SAuth | Ajouter une application</title>
		<link rel="stylesheet" type="text/css" href="http://sauth:<%= settings.port; %>/style.css" />
<% if (settings.form_errors.size == 0) %>
		<script type="text/javascript" language="javascript">
			window.onload=function(){document.getElementById("name").focus();};
		</script>
<% end %>
	</head>
	<body>
		<center>
			<div id="bann">
				<div id="bann_content">
					<span id="logo">vincentbook</span>
					<span class="logout">Bienvenue <%= user_name; %> <span style="margin: 3px;">|</span> <a href="/sessions/<%= user_id; %>" onclick="document.forms['session_del'].submit(); return false;">Deconnexion</a></span>
					<form style="display: none;" id="session_del" action="/sessions/<%= user_id; %>" method="post"><input name="_method" type="hidden" value="delete" /><input type="submit" /></form>
				</div>
				</div>
			</div>
			<h1>Ajouter une application</h1>
			Service d'authentification
			<div class="wrapper">
				<form action="/apps" method="post">
					<input type="hidden" name="origin" value="<%= settings.origin; %>" />
					<table border="0">
						<tr>
							<td><label for="name">Nom : </label></td>
							<td>
								<input<% if (!is_empty(settings.form_errors[:name])) then %> class="error"<% end %> type="text" id="name" name="application[name]" size="30" value="<%= settings.form_values[:name]; %>" />
								<% if (!is_empty(settings.form_errors[:name])) then %><span class="msg_error"><%= settings.form_errors[:name]; %></span><% end %>
							</td>
						</tr>
						<tr>
							<td><label for="url">Url : </label></td>
							<td>
								<input<% if (!is_empty(settings.form_errors[:url])) then %> class="error"<% end %> type="text" id="url" name="application[url]" size="30" value="<%= settings.form_values[:url]; %>" />
								<% if (!is_empty(settings.form_errors[:url])) then %><span class="msg_error"><%= settings.form_errors[:url]; %></span><% end %>
							</td>
						</tr>
						<tr><td></td><td><input type="submit" name="commit" value="Valider" /></td></tr>
					</table>
				</form>
				<br />
				<a href="/users/<%= session["s_id"]; %>">Retour au profil</a>
			</div>
		</center>
	</body>
</html>
